head
  meta(charset="utf-8")
  title OSM Meetup 20200302
  link(rel="stylesheet",href="https://revealjs.com/css/reveal.css")
  style
    | code{white-space: pre-wrap;}
    | span.smallcaps{font-variant: small-caps;}
    | span.underline{text-decoration: underline;}
    | div.column{display: inline-block; vertical-align: top; width: 50%;}
    | .small{font-size:smaller;}
  link(rel="stylesheet",href="https://revealjs.com/css/theme/night.css",id="theme")
  // <!-- Printing and PDF exports -->
  script
    | var link = document.createElement( 'link' );
    | link.rel = 'stylesheet';
    | link.type = 'text/css';
    | link.href = window.location.search.match( /print-pdf/gi ) ? 'https://revealjs.com/css/print/pdf.css' : 'https://revealjs.com/css/print/paper.css';
    | document.getElementsByTagName( 'head' )[0].appendChild( link );
  <!--[if lt IE 9]>
  <script src="https://revealjs.com/lib/js/html5shiv.js"></script>
  <![endif]-->
